.portfolio-page{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/src/Assets/images/portfoliopage/MainImage.png') no-repeat center/cover;
    
    h1{
       color: #fff;
       font: 400 64px/1 'Allison', 'raleway';
       letter-spacing: 20px;
    } 
  }

  @media screen and (max-width: 1024px) {
    .hero{
      height: 40vh;
    }
  }
}



